* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}

:root{
    --text-color-menu: #4a4a4a ;
    --background-color: #3CDBC0;
    --text-color-title: #FFFFFF;
    --font-family: 'Rubik', sans-serif;
}

/*HEADER*/

.header{
position: fixed;
top: 0;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
background-color: white;

}
.logo{
width: 155px;
display: flex;
align-items: center;
margin-top: 10px;


}

.menu{
width: 155px;
font-family: var(--font-family);
display: flex;
justify-content: space-between;

}
.item{
    display: inline-block;
    color: #4a4a4a;
    font-size: 16px;
    margin: 10px 20px 13px;
    text-transform: uppercase;
    font-family: var(--font-family);
    padding: 5px 5px 5px 5px;

}

/*MAIN*/
.main{
    height: 100vh;
    display: flex;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    
    
}
.item-main{
display: block;
text-align: center;
font-family: var(--font-family);
color: var(--text-color-title);
font-size: 30px;
}


@media all and (min-width:768px){

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 20px 20px 30px;
        font-size: 40px;
    }
}